*.sqlite
*.sqlite-journal
.buildpath
.project
/.settings/
.idea
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.swp
.*.swp
*~
*.out
*.log
.vagrant
config.php
data/files
data/cache
/vendor
*.bak
!docker/kanboard/config.php
node_modules
bower_components

data/debug

data/debug.sql

data/debug

data/debug.sql
data/debug.sql
